@{
    ViewData["Title"] = "Personal Data";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>@ViewBag.Nombre @ViewBag.Apellidos</h1>
    <h2>@ViewBag.Edad</h2>
    <h3>@ViewBag.Correo</h3>
    <h4>@ViewBag.Telefono</h4>
</div>
